@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
body {
    font-family: 'Chakra Petch', sans-serif;
    font-weight:bolder
}


button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 12px;
    /* padding: 10px 18px 10px; */
    padding: 8px 16px 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    /* transition: transform 200ms, background 200ms; */
    background: transparent;
    color: #000000;
    box-shadow: 1px 0px 5px 2px #000000 inset;
    /* opacity: 0.6;
    background: rgb(236, 202, 221); */
}