@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Hello {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 70px;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}
h4 {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
#sb {
    display: flex;
    align-self: center;
    align-items: center;

}
#rps {
    display: flex;
    align-self: center;
    align-items: center;
}
button:hover{
    opacity: 0.5;
    transform: translateY(-2px);

}  
.sb:hover span {
    display:none
}
.sb:hover:before {
    content: "Click to Play!";
}
.rps:hover span {
    display: none
}
.rps:hover:before {
    content: "Click to Play!";
}
button {
    box-shadow: 0px 0px 10px 1px #276873;
	background-color:transparent;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
    color: #000000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	padding:6px 14px;
	text-shadow:0px 1px 0px #3d768a;
}


button:hover {
    opacity: 0.5;
    transform: translateY(-2px);
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}
@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-15deg);}
    50% {-webkit-transform: rotate(25deg);}
    75% {-webkit-transform: rotate(-15deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
}
@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

/* ============================= MEDIA QUERIES ================================== */


 /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 70%;
    }
    #Hello {
        font-size: 35px;
    }
    .body {
        align-items: center;
    }
    h1 {
        font-size: 20px;
    }
    h4 {
        align-items: center;
        text-align: center;
        font-size: 13px;
    }
    img {
        width: 100%;
        max-width: 320px;
    }
    button {
        padding: 6px 14px 6px;
        font-size: 10px;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    body {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #Hello {
        font-size: 35px;
    }
    .body {
        align-items: center;
    }
    h1 {
        font-size: 20px;
    }
    h4 {
        align-items: center;
        text-align: center;
        font-size: 13px;
    }
    img {
        width: 100%;
        max-width: 500px;
    }
    button {
        padding: 7px 15px 7px;
        font-size: 12px;
    }
}
